@charset "utf-8";
/* CSS Document */
html {
    overflow-x:hidden;
}
body{
	overflow:hidden;
}
.content{
	width:100%;
}
.index-header{
	text-align:center;
}
.bottom {
    width:100%;
    text-align:center;
    height:30px;
    margin-bottom:0px;
}
.index-header-img{
	width:100%;
	height:140px;
}
.index-header-img1{
	width:60%;
	height:340px;
}
.index-menu a{
	height:36px !important;
	font-size:16px;
}
.displayBox{
	float:left;
	width:33.33333%;
	text-align:center;
}
.displayImg{
	width:100px;
	height:100px;
}
.index-menu-child{
	position:absolute;
	z-index:999;
}
.index-menu-child ol{
	list-style:none;
	padding:0px;
	margin:0px;
}

 #thediv
    {
    z-index:50;
    position:absolute;
    top:43px;
    left:2px;
    height:50px;
    width:50px;
    background-color:red;
    }